@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/Inter.ttf) format("truetype");
  }

  body {
    font-family: Inter, system-ui, sans-serif;
  }
}
