@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/Inter.ttf) format('truetype');
  }

  body {
    font-family: Inter, system-ui, sans-serif
  }
}

.divider {
  @apply absolute left-[-16px] right-[-16px] w-[calc(100%+32px)] border-[0.5px] border-black border-solid
}

.black-button {
  @apply bg-black text-white font-bold border border-solid border-black p-[16px] rounded-full w-full;
}

.white-button {
  @apply bg-white text-black font-bold border border-solid border-black p-[16px] rounded-full w-full;
}
